body {
  font-family: "bogart", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #333;
}

/*Header*/
header {
  background-color: #ffffff;
  text-align: center;
}

/*H1 bruker Blenny Typekit */

/* Nav */
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-family: "bogart", sans-serif;
  font-weight: 600;
  font-style: normal;
}

nav a:hover {
  text-decoration: underline;
}

/* Innhold */
main {
  padding: 20px;
}

/* Underrubrikker */
h2 {
  font-family: "bogart", sans-serif;
  font-weight: 900; /* Bogart Black */
  font-style: normal;
  text-align: center;
}

footer {
  background-color: #fffc99;
  position: relative;
  padding: 40px;
  color: #7b3e19;
  font-family: "bogart", sans-serif;
}

footer h1 {
  font-family: "Blenny", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-left: 40px;
  margin: 0;
  color: #7b3e19;
}

footer .adresse {
  padding-left: 40px;
  margin-top: 5px;
  line-height: 1.4;
  color: black;
}

.footer-mid {
  text-align: center;
  margin-top: 40px;
}

.footer-mid h2 {
  font-family: "bogart", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: black;
}

.footer-mid h2 .word1 {
  margin-right: 10%;
  color: black;
}

.footer-mid h2 .word2 {
  margin-right: 10%;
  color: black;
}

.footer-mid h2 .word3 {
  margin-right: 0;
  color: black;
}

.social-icons img {
  width: 40px;
  height: 40px;
  padding: 40px;
  vertical-align: middle;
}

.footer-mid .copyright {
  margin-top: 20px;
  font-size: 0.9rem;
}

.apningstider {
  position: absolute;
  right: 40px;
  top: 40px;
  text-align: right;
  font-size: 1rem;
  color: black;
}

.apningstider h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "bogart", sans-serif;
  color: #7b3e19;
}

.header_natt {
  background-color: #ffffff;
  text-align: center;
}

.h1_head_natt {
  background-color: #8ae1fc;
  font-family: "Blenny", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-left: 40px;
  margin: 0;
  color: #379634;
  text-align: left;
}

.h1_head_dag {
  background-color: #fffc99;
  font-family: "Blenny", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-left: 40px;
  margin: 0;
  color: #7b3e19;
  text-align: left;
}

.footer_natt {
  background-color: #8ae1fc;
  position: relative;
  padding: 40px;
  color: #379634;
  font-family: "bogart", sans-serif;
}
.footer_natt h1 {
  font-family: "Blenny", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-left: 40px;
  margin: 0;
  color: #379634;
}
.apningstider_natt {
  position: absolute;
  right: 40px;
  top: 40px;
  text-align: right;
  font-size: 1rem;
  color: black;
}
.h3_apningstider_natt {
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "bogart", sans-serif;
  color: #379634;
}

.personell_1 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
}